.error-page-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 100%;
}

.col-1 {
  padding-left: 50px;
  height: 100%;
}

.col-2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-message {
  font-family: "Baskville", sans-serif;
  font-size: 5em;
  font-weight: 800;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.h2-message {
  font-family: "Interstate-Regular", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.6em;
}

p {
  font-family: "Gotham-Book", sans-serif;
  font-size: 1.8em;
  /* letter-spacing: 0.1rem; */
  font-weight: 400;
}

.error-image {
  height: 100%;
  object-fit: contain;
  width: 700px;
}

.image-container {
  max-height: 100%;
  margin-top: 30px;
  padding-top: 30px;
}

a.backup-page-link {
  cursor: pointer;
  color: #c27644;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .error-page-main {
    display: flex;
    flex-direction: column;
  }
  .h1-message {
    font-size: 4em;
  }
  .h2-message {
    font-size: 1.4em;
  }
  p {
    font-size: 1.4em;
  }
  .image-container {
    width: 450px;
  }
}
